{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Enter Your TOTP</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/checkauth">
            <div class="field">
                <div class="control">
                    <input class="input is-rounded" type="text" name="userhash" id="username" value="{{ userhash }}" placeholder="YourUserName" autofocus="" readonly="true">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-rounded" type="number" name="totp" placeholder="Enter Your TOTP" autofocus="" maxlength="6" required>
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Proceed</button>
        </form>
    </div>
</div>
{% endblock %}